---
import config from '../../config.mjs';

const { postData } = Astro.props;

// Base metadata
const baseTitle = "Teach Jenn Tech";
const baseDescription = "Turning my tech learning into a journey you can join—watch me tackle it live!";
const baseImage = `./defaultog.png;`
const baseUrl = "https://teachjenntech.com";

// Dynamic values (fallback to base values if not provided)
const title = postData?.data?.title ? postData.data.title : baseTitle;
const description = postData?.data?.description ? postData.data.description : baseDescription;
const image = postData?.data?.image ? postData.data.image : baseImage;
const url = new URL(Astro.url.pathname, baseUrl).toString();
---

<!-- HTML Meta Tags -->
<title>{title}</title>
<meta name="description" content={description}>

<!-- Facebook Meta Tags -->
<meta property="og:url" content={url}>
<meta property="og:type" content="website">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={image}>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="jennjunod.dev">
<meta property="twitter:url" content={url}>
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content={image}>

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />